* {
  box-sizing: border-box;
}
body{ background-color: rgb(250, 249, 248);}

/* NAV-BAR */
.nav-bar {
  /* border: 1px solid red; */
  background-color: white;
  width: 100%;
  /* height: 85px; */
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.background-image{
  background-image: url(toolbox/borrow-background.jpg);
  height: 40em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(65%);
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.24)),
  /* justify-content: center; */
}

.list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  font-size: 20px;
  margin-right: 40px;
}
.nav-list:first-child {
  background-color: rgb(179, 31, 31);
  padding: 2px 10px;
  color: white;
}
.nav-list:hover {
  color: black;
  font-weight: 540;
  text-shadow: 1px 2px 2px rgba(138, 4, 4, 0.623);
}
           /* FRONT-PAGE */
.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h1 {
  /* border: 1px solid blue; */
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-top: 150px;
}

h3 {
  /* border: 1px solid red; */
  font-size: 35px;
  font-family: fVerdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 0;
  /* padding-bottom: 20px; */
}

.intro {
  /* border: 1px solid green; */
  width: 550px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 50px;
}

button {
  width: 200px;
  border-radius: 10px;
  height: 45px;
  font-size: 20px;
  padding: 5px;
  color: white;
}

button:first-of-type {
  margin-right: 15px;
  background-color: brown;
  border: 1px solid brown;
}

button:nth-child(2) {
  background: none;
  border: 1px solid white;
}

button:nth-child(2):hover {
  background-color: brown;
}

/* REVIEW SECTION */
.customer-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.Shouib-comment {
  font-size: 18px;
  text-align: center;
}
.content {
  /* border: 1px solid blue; */
  margin-top: 180px;
  
  display: flex;
  justify-content: space-around;
}
.left-content {
  /* border: 1px solid blue; */
  width: 40;background-color: white;
  font-family: "Times New Roman", Times, serif;
  width: 40%;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.right-content {
  /* border: 1px solid red; */
  background-color: white;
  font-size: 10px;
  width: 35%;
  padding: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.right-heading {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  margin: 0;
}

.earn-button {
  /* width: 80%; */
  height: 60px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgb(15, 15, 51);
  border-radius: 5px;
}

p {
  font-size: 20px;
}

/* TOOLS-SECTION */

.tools-archive,
img {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 240px;
  height: 200px;
  margin: 20px 5px 0 5px;
}

.available-tools {
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.price {
  background-color: rgb(189, 98, 98);
  width: 240px;
  margin-top: 5px;
  margin-left: 5px;
}

.prize-1:hover {
  background-color: rgb(66, 62, 62);
}

/* FOOTER */
.footer {
  background-color: rgb(6, 6, 36);
  color: white;
}
.company-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 40px;
}

.top {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 900;
  font-size: larger;
}

.li-bottom {
  list-style: none;
  font-size: 15px;
  margin-top: 10px;
}
.rRight {
  display: flex;
  justify-content: center;
}

.ref {
  font-size: 14px;
  /* padding: 20px; */
  margin-top: 50px;
}

/* MEDIAQUERY */

@media screen and (max-width: 500px) {
  .company-info {
    flex-direction: column;
  }
  .Shouib-comment,
  p {
    font-size: 25px;
  }

  .right-content {
    width: 100%;
    margin-left: 30px;

  }

  .left-content {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .content {
    margin: 30px;
    flex-direction: column;
    align-items: center;
  }
  .price,
  span {
    color: rgb(88, 15, 156);
    font-size: 20px;
  }

  .container.nav-bar,
  .list {
    flex-direction: column;
    height: 120px;
  }

  .header-1 h1,
  h3 {
    font-size: 25px;
    text-align: center;
  }

  h1 {
    margin-top: 160px;
  }
  h3 {
    margin: 0;
  }

  .details,
  .intro {
    width: 95%;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
  }

  button {
    display: flex;
    justify-content: space-around;
    /* margin-top: 30px; */
    padding-top: 10px;
  }
  button:nth-child(2){ margin-top: 10px;

  }
}

        /* MEDIA QUERRY(IPADs) */
@media screen and (max-width:850px) and (min-width:520px) {
  h1,h3 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .intro{
    font-size: 25px;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  button{width: 280px;
    height: 80px;
    font-size: 30px;
  }
}